<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>ServletExample</display-name>
	
	<welcome-file-list>
	<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
	<context-param>
	<param-name>stateName</param-name>
	<param-value>Karnataka</param-value>
	</context-param>
	
	<servlet>
	<servlet-name>servletLifeCycle</servlet-name>
	<servlet-class>com.servlet.example.ServletLifeCycle</servlet-class>
	</servlet>
	
	<servlet-mapping>
	<servlet-name>servletLifeCycle</servlet-name>
	<url-pattern>/servletlifecycle</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
	<servlet-name>httpServletLifeCycle</servlet-name>
	<servlet-class>com.servlet.example.HttpServletLifeCycleExample</servlet-class>
	</servlet>
	
	<servlet-mapping>
	<servlet-name>httpServletLifeCycle</servlet-name>
	<url-pattern>/httpservletlifecycle</url-pattern>
	</servlet-mapping>
	
	
		
	<servlet>
	<servlet-name>httpMethods</servlet-name>
	<servlet-class>com.servlet.example.HttpMethodsExamples</servlet-class>
	</servlet>
	
	<servlet-mapping>
	<servlet-name>httpMethods</servlet-name>
	<url-pattern>/httpmethodsexample</url-pattern>
	</servlet-mapping>
	
	<servlet>
	<servlet-name>servletConfigExample</servlet-name>
	<servlet-class>com.servlet.example.ServletConfigExample</servlet-class>
	<init-param>
	<param-name>cityName</param-name>
	<param-value>Bangalore</param-value>
	</init-param>
	</servlet>
	
	<servlet-mapping>
	<servlet-name>servletConfigExample</servlet-name>
	<url-pattern>/servletconfigexample</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
	<servlet-name>servletContextExample</servlet-name>
	<servlet-class>com.servlet.example.ServletContextExample</servlet-class>
	</servlet>
	
	<servlet-mapping>
	<servlet-name>servletContextExample</servlet-name>
	<url-pattern>/servletcontextexample</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
	<servlet-name>httpSessionExample</servlet-name>
	<servlet-class>com.servlet.example.HttpSessionExample</servlet-class>
	</servlet>
	
	<servlet-mapping>
	<servlet-name>httpSessionExample</servlet-name>
	<url-pattern>/httpsession</url-pattern>
	</servlet-mapping>
	
	
	
	
	<servlet>
	<servlet-name>httpSessionExample2</servlet-name>
	<servlet-class>com.servlet.example.HttpSessionExample2</servlet-class>
	</servlet>
	
	<servlet-mapping>
	<servlet-name>httpSessionExample2</servlet-name>
	<url-pattern>/httpsessionexample2</url-pattern>
	</servlet-mapping>
	
	
	
	
	
	
	
	
	
	
	<error-page>
	<error-code>404</error-code>
	<location>/WEB-INF/html/error/systemError.html</location>
	</error-page>
	
	<error-page>
	<error-code>500</error-code>
	<location>/WEB-INF/html/error/internalServerError.html</location>
	
	</error-page>
	
	



























</web-app>
	